@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17;
	background-color: #FFF;
}

body header.main {
	background-image: url('../images/thunderbots_logo.bmp');
	background-repeat: no-repeat;
	height: 200px;
	text-align: center;
}

#navigation {
	width: 100%;
	height: 10%;
	text-align: center;
	/*border-top: 1px #000000 solid;*/
}

#navigation ul li {
	display: inline;
	list-style: none;
	padding: 1%;
	margin-left: 2%;
	margin-right: 2%;
}

a:visited {
	color: #0A0;
}

ul li a {
	color: #00F;
}

ul li a:visited {
	color: #00F;
}

#column_main {
	float: left;
	width: 75%;
}

#column_main div header {
	text-align: center;
}

#column_empty1 {
	float: left;
	width:auto;
}

#column_empty1 header {
	text-align: center;
}

footer {
	width: 100%;
	float: left;
}